body{
    background-color: #f0f0f0; /* Fundo */
    padding-bottom: 0;
    font-family: 'Open Sans', Arial;
}

.navbar-default {
    background-color: transparent;
    border-color: #a99881;
}

.navbar-brand{
    margin-left: 50px;
    height: 53px;
    padding: 8px;
    line-height: 53px;
}

.navbar {
    background-color: #f0f0f0; /* Fundo */
    min-height: 70px;
}

a {
    color: #111111;
}

.sidebar{
    background-color: #2d292a;
}

.sidebar-fundo{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2d292a;
    height: 100%;
}

@media (max-width: 767px) {
    .sidebar-fundo{
        display: none
    }
    .navbar-right {
        float: right!important;
    }
}

@media (min-width: 768px) {
    .sidebar-fundo{
        width: 180px;
    }
    .sidebar{
        width: 180px;
    }
    #page-wrapper {
        margin: 0 0 0 180px;
    }
    .sidebar .sidebar-nav.navbar-collapse ul {
        padding: 0;
    }
}

@media (min-width: 960px) {
    .sidebar-fundo{
        width: 250px;
    }
    .sidebar{
        width: 250px;
    }
    #page-wrapper {
        margin: 0 0 0 250px;
    }
    .sidebar .sidebar-nav.navbar-collapse ul {        
    }
}

.icon-image{
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}
.icon-image{
    max-width: 90%;
}

.icon-image i{
    font-size: 20px;
    color: #C9A628;
    line-height: inherit;
}

.sidebar .nav > li{
    padding: 0px;
}

.sidebar .nav > li > a {
    padding: 13px 20px;
    color: #a99881;
}

.sidebar .nav > li.active, .sidebar .nav > li a.active{
    background-color: #555152;
}

.sidebar .nav > li.active > a, .sidebar .nav > li.active > a:hover, .sidebar .nav > li:hover > a {
    background-color: transparent;
}

.page-header {
    padding-bottom: 9px;
    margin: 20px 0 20px;
    font-size: 22px;
    border-bottom: 1px solid #beb09b;
}

.header-top {
    z-index: 1000;
    position: fixed;
    top: 0;
    background-color: #f0f0f0; /* Fundo */
}

.links-header{
    font-size: 14px;
    line-height: 31px;
    text-align: right;
}

.links-header > div{
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
}

.links-header .remover{
    color: red;
}


.table-bordered{
    border-color: #beb09b;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border-color: #beb09b;
    cursor: pointer;
}

.panel-default {
    border: none !important;
    background-color: transparent;
}

.panel-default>.panel-heading {
    color: #111111;
    font-weight: bold;
    background-color: transparent;
    border-color: #111111;
}

.panel-form{
    padding: 0;
}

.panel-form .form-group{
    padding: 10px 15px;
    background-color: white;
    margin: 0 0 1px;
}

.panel-form .form-group .form-group{
    padding: 0;
}

.panel-form .form-group label{
    color: #c3c3c3;
    font-size: 12px;
    margin-bottom: 0px;
}

.panel-form .form-group .form-control{
    border: none;
    box-shadow: none;
    color: #231f20;
    padding: 0;
    margin-bottom: 5px;
}

.panel-form .form-group .radio label, .panel-form .form-group .checkbox-inline{
    color: #231f20;
}

.angular-google-map-container { height: 400px; }

.localizar-mapa{
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: right;
}

.pesquisa{
    margin-bottom: 30px;
    border-bottom: 1px solid #beb09b;
    padding-bottom: 20px;
}

.pesquisa h3{
    margin: 0 0 15px;
    font-size: 16px;
}

.pesquisa .form-control{
    border-radius: 0;
}

.pesquisa .form-group{
    position: relative;
}

.cancel-filtro{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
    color: #CCCCCC;
    cursor: pointer;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
}

.cursor-click{
    cursor: pointer;
}

.mb20{
    margin-bottom: 20px;
}

.fotos{
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;
    width: 100%;
    clear: both;
}

.fotos li{
    float: left;
    width: 90px;
    height: 90px;
    padding: 5px;
    border: 1px solid #beb09b;
    margin: 5px;
    text-align: center;
    position: relative;
}

.fotos li i{
    cursor: pointer;
    font-size: 24px;
    color: red;
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

.fotos li:hover{
    background-color: #beb09b;
}

.fotos li:hover i{
    display: block;
}

.fotos li img{
    cursor: pointer;
    max-width: 95%;
    max-height: 95%;
    margin: auto;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #beb09b;
    border-color: #beb09b;
}

.paginacao{
    float: left;
}

.remover-todos{
    margin: 20px;
    float: left;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #beb09b;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #beb09b;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.upload .progress {
    line-height: 15px;
}

.upload .progress {
    display: block;
    width: 100px;
    border: 3px groove #CCC;
    margin: 20px 0;
}

.upload .progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}